.App {
  text-align: center;
  background:linear-gradient(#a93cb5 , #4287f5);

}
.main-title{
  display: block;
  font-size: 50px;
  margin: 0 auto;
  padding-top:  150px ;
  color: aliceblue;
  font-family: arial;
}